<footer class="footer container">

    <div class="phone-container">
        <div class="phone-icon" />
        <div class="phone-block">
            <a href="tel:+78005555550" class="phone">+7 (800) 555-555-0</a>
            <div class="phone-desc">Звонок бесплатный по всей России</div>
        </div>
    </div>

    <div class="left">
        <div class="copyright">
            Copyright © 2017, <br> King Study s.r.o. IČO 05708958
        </div>
        <div class="policy-container">
            <span class="policy">Политика конфиденциальности</span> Сделано в GetMoreLeads.ru
        </div>
    </div>
</footer>