<footer class="footer container">
    <div class="phone-container">
        <div class="phone-icon" />
        <div class="phone-block">
            <a href="tel:+74994506377" class="phone">+7 (499) 450-63-77</a>
            <div class="phone-desc">Звонок бесплатный по всей России</div>
        </div>
    </div>

    <div class="left">
        <div class="copyright">
            Copyright © 2017, <br> King Study s.r.o. IČO 05708958
        </div>
        <div class="policy-container">
            <span class="policy" onclick="openPolicy()">Политика конфиденциальности</span> Сделано в <a style="color: white" target="_blank" href="http://getmoreleads.ru/">GetMoreLeads.ru</a>
        </div>
    </div>
</footer>