<header class="header container" xmlns:tel="http://www.w3.org/1999/xhtml">
    <div class="left-block">
        <a href="/" class="logo-link">
            <div class="logo"></div>
        </a>
    </div>

    <div class="right-block">
        <div class="menu">
            <a class="menu-item">Программы</a>
            <a class="menu-item">Как поступить</a>
            <a class="menu-item">Отзывы</a>
            <a class="menu-item">Контакты</a>
        </div>

        <div class="phone-container">
            <div class="phone-icon" />
            <div class="phone-block">
                <a href="tel:+78005555550" class="phone">+7 (800) 555-555-0</a>
                <div class="phone-desc">Звонок бесплатный по всей России</div>
            </div>
        </div>
    </div>
</header>