<header class="header container" xmlns:tel="http://www.w3.org/1999/xhtml">
    <div class="left-block">
        <a href="/" class="logo-link">
            <div class="logo"></div>
        </a>
    </div>

    <div class="right-block">
        <div class="menu">
            <a class="menu-item" href="#screen-5">Программы</a>
            <a class="menu-item" href="#screen-7">Отзывы</a>
            <a class="menu-item" href="#screen-9">Как поступить</a>
            <a class="menu-item" href="#footer">Контакты</a>
        </div>

        <div class="phone-container">
            <div class="phone-icon" />
            <div class="phone-block">
                <a href="tel:+74994506377" class="phone">+7 (499) 450-63-77</a>
                <div class="phone-desc">Звонок бесплатный по всей России</div>
            </div>
        </div>

        <div class="mobile-menu">
            <button class="mobile-menu-button"></button>
            <div class="mobile-menu-toggle">
                <a class="menu-item" href="#screen-5">Программы</a>
                <a class="menu-item" href="#screen-7">Как поступить</a>
                <a class="menu-item" href="#screen-9">Отзывы</a>
                <a class="menu-item" href="#footer">Контакты</a>
            </div>
        </div>
    </div>
</header>