<header class="header container" xmlns:tel="http://www.w3.org/1999/xhtml">
    <div class="left">
        <a href="/" class="logo-link">
            <img src="images/header/logo.png" class="logo" />
        </a>
    </div>

    <div class="right">

        <div class="menu">
            <a class="menu-item">Программы</a>
            <a class="menu-item">Как поступить</a>
            <a class="menu-item">Отзывы</a>
            <a class="menu-item">Контакты</a>
        </div>

        <div class="phone-container">
            <img src="images/header/phone.png" class="phone-icon" />
            <div class="phone-block">
                <a href="tel:+78005555550" class="phone">+7 (800) 555-555-0</a>
                <div class="phone-desc">Звонок бесплатный по всей России</div>
            </div>
        </div>

    </div>




</header>