<div id="modal-form" class="modal-window hide">
    <div class="modal-layer"></div>
    <div class="modal-container" style="height: 600px;">
        <div class="close-modal close"></div>
        <div class="modal-form" data-form="form">
            <div class="title">Оставте заявку прямо сейчас, и узнайте как воплотить мечту в реальность</div>
            <div class="desc">В течении 15 минут с вами свяжется наш дружелюбный менеджер</div>
            <input class="input" placeholder="Введите имя" data-form="name" />
            <input class="input" placeholder="Введите телефон" data-form="phone" />
            <input class="input" placeholder="Введите e-mail" data-form="email" />
            <button class="btn orange" data-form="submit">Узнать подробнее</button>

            <div class="accept">
                <input data-form="accept" id="modal-accept" type="checkbox" class="checkbox" checked />
                <label for="modal-accept"></label>
                <div class="accept-desc">
                    Я&nbsp;даю&nbsp;согласие&nbsp;на&nbsp;обработку персональных&nbsp;данных
                    и&nbsp;соглашаюсь c <a class="link">политикой конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-done" class="modal-window hide">
    <div class="modal-layer"></div>
    <div class="modal-container" style="height: 280px">
        <div class="close-modal close"></div>
        <div class="modal-form">
            <div class="title">Спасибо за вашу заявку!</div>
            <div class="desc">Мы ее уже получили.<br/>Наше менеджер свяжется с вами в течении 15 минут и проконсультирует вас</div>
            <div class="title">Хорошего дня и до встречи!</div>
        </div>
    </div>
</div>