<div class="screen-9 container">
    <a name="screen-9"><div class="screen-head" style="max-width: 100%">4 трудных шага, чтобы стать студентом в Чехии</div></a>
    <div class="screen-desc">
        Вообще-то это легко. Как покорить Эверест. Без снаряжения. В одной майке и шортах. Когда у тебя на ноге 16кг гиря. И завязаны глаза..
    </div>

    <div class="info-block-container">
        <div class="block-row">
            <div class="block">
                <div class="icon icon-1">1</div>
                <div class="info-head">Выберите университет</div>
                <div class="info-text">
                    В мировых рейтингах Чешская  республика одна из лучших стран для проживания. В чешской Республике 105 университетов и многие из них находятся в мировых рейтингах.
                </div>
            </div>
            <div class="block">
                <div class="icon icon-2">2</div>
                <div class="info-head">Оформите документы</div>
                <div class="info-text">
                    Для получения визы вам нужно подготовить документы такие как: Подтверждение с языковых курсов, подтверждение о проживании,
                    справка о несудимости, банковская выписка, медицинская страховка чешской аккредитованной компании (все документы должны быть переведены и заверены нотариусом).
                </div>
            </div>
        </div>

        <div class="block-row">
            <div class="block">
                <div class="icon icon-3">3</div>
                <div class="info-head">Нострификация</div>
                <div class="info-text">
                    Нострификация - признание документов о среднем и высшем образовании в Чехии. Каждый ВУЗ в Чехии требует нострификацию вашего образования.
                    Для этого нужно перевести ваш документ, заверить у нортариуса, подать в министерство образования, заплатить пошлину, подготовится к нострификационным экзаменам.
                </div>
            </div>
            <div class="block">
                <div class="icon icon-3">4</div>
                <div class="info-head">Переезжайте и учитесь в Чехии</div>
                <div class="info-text">
                    По приезду каждый студент обязан зарегистрироваться в полиции в течени 3-ех дней, пройти регистрацию на курсах в университете
                    и многие другие бывают моменты.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="orange-form-container" data-form="form">
    <a name="footer"><div class="orange-form-head">Или оставьте заявку прямо сейчас, <br/>и поручите сделать #вотэтовотвсе профессионалам :)</div></a>
    <div class="orange-form">
        <input class="input" placeholder="Введите имя" data-form="name" />
        <input class="input" placeholder="Введите телефон" data-form="phone" />
        <input class="input" placeholder="Введите e-mail" data-form="email" />
        <button class="btn white" data-form="submit">Узнать подробнее</button>
    </div>
    <div class="desc">
        *В течение 15 минут с вами свяжется наш дружелюбный менеджер<br />
        *Заявка вас ни к чему не обязывает - мы просто ответим на ваши вопросы
    </div>
    <div class="accept">
        <input data-form="accept" id="screen-9-accept" type="checkbox" class="checkbox" checked />
        <label for="screen-9-accept"></label>
        <div class="accept-desc">
            Я&nbsp;даю&nbsp;согласие&nbsp;на&nbsp;обработку персональных&nbsp;данных
            и&nbsp;соглашаюсь c <a class="link">политикой конфиденциальности</a>
        </div>
    </div>
</div>