<div class="screen-1 container">
    <h1 class="head">Инвестируйте<br/>в&nbsp;доступное и&nbsp;престижное<br/>образование в&nbsp;Чехии</h1>
    <div class="text">и обеспечьте надежное будущее для себя или детей</div>
    <div class="desc">Оставьте заявку прямо сейчас,<br/>чтобы узнать подробнее</div>
    <div class="form" data-form="form">
        <input class="input" placeholder="Введите имя" data-form="name" />
        <input class="input" placeholder="Введите телефон" data-form="phone" />
        <button class="btn orange" data-form="submit">Узнать подробнее</button>
    </div>
    <div class="sub-text">
        *В течение 15 минут с вами свяжется наш дружелюбный менеджер<br/>
        *Заявка вас ни к чему не обязывает - мы просто ответим на ваши вопросы :)
    </div>
</div>