<div class="screen-9"></div>

<div class="orange-form-container">
    <div class="orange-form-head">Или оставьте заявку прямо сейчас, <br/>и поручите сделать #вотэтовотвсе профессионалам :)</div>
    <div class="orange-form">
        <input class="input" type="text" placeholder="Введите имя" />
        <input class="input" type="text" placeholder="Введите телефон" />
        <input class="input" type="text" placeholder="Введите e-mail" />
        <button class="btn white">Узнать подробнее</button>
    </div>
    <div class="desc">
        *В течение 15 минут с вами свяжется наш дружелюбный менеджер<br />
        *Заявка вас ни к чему не обязывает - мы просто ответим на ваши вопросы
    </div>
    <div class="accept">
        <input type="checkbox" class="checkbox" checked />
        <div class="accept-desc">
            Я&nbsp;даю&nbsp;согласие&nbsp;на&nbsp;обработку персональных&nbsp;данных
            и&nbsp;соглашаюсь c <a class="link">политикой конфиденциальности</a>
        </div>
    </div>
</div>