<div class="orange-form-container">
    <div class="orange-form-head">Оставьте заявку прямо сейчас, и узнайте подробнее,<br/>как воплотить мечну в реальность</div>
    <div class="orange-form">
        <input class="input" type="text" placeholder="Введите имя" />
        <input class="input" type="text" placeholder="Введите телефон" />
        <input class="input" type="text" placeholder="Введите e-mail" />
        <button class="btn white" onclick="openModalDone()">Узнать подробнее</button>
    </div>
    <div class="desc">
        *В течение 15 минут с вами свяжется наш дружелюбный менеджер<br />
        *Заявка вас ни к чему не обязывает - мы просто ответим на ваши вопросы
    </div>
    <div class="accept">
        <input id="screen-8-accept" type="checkbox" class="checkbox" checked />
        <label for="screen-8-accept"></label>
        <div class="accept-desc">
            Я&nbsp;даю&nbsp;согласие&nbsp;на&nbsp;обработку персональных&nbsp;данных
            и&nbsp;соглашаюсь c <a class="link">политикой конфиденциальности</a>
        </div>
    </div>
</div>

<div class="screen-head" style="max-width: 100%">Познакомьтесь с King Study поближе</div>
<div class="screen-desc" style="max-width: 100%">В любой момент мы можем созвониться, встретиться и откровенно обсудить все вопросы</div>

<div class="video-block">
    <div class="video"></div>
    <div class="text" style="background: url('./images/screen-7/mark.png') no-repeat right 30px bottom 30px">
        <div class="color-id orange"></div>
        <div class="content">
            Мы команда профессионалов, осуществляем полный спектр образовательных услуг в центральной Европе. Отличаемся от остальных тем, что помогаем студентам не только.
        </div>
        <div class="name">
            Руководитель компании King Study,<br/>Михаил "SILVER" Серебрянников
        </div>
    </div>
</div>