<div class="screen-6 container">
    <div class="text">
        <div class="head">
            Проведи 7 дней в Чехии на занятиях по Медиа, Блоггингу и Маркетингу
        </div>
        <div class="desc">
            Media Camp в партнерстве с Высшей Школой Экономики в Москве
        </div>
    </div>
    <div class="form">
        <div class="head">
            Оставь заявку и узнай подробнее про Media Camp прямо сейчас
        </div>
        <input class="input" type="text" placeholder="Введите имя" />
        <input class="input" type="text" placeholder="Введите телефон" />
        <input class="input" type="text" placeholder="Введите e-mail" />
        <button class="btn orange" onclick="openModalDone()">Узнать подробнее</button>

        <div class="accept">
            <input id="screen-6-accept" type="checkbox" class="checkbox" checked />
            <label for="screen-6-accept"></label>
            <div class="accept-desc">
                Я&nbsp;даю&nbsp;согласие&nbsp;на&nbsp;обработку персональных&nbsp;данных
                и&nbsp;соглашаюсь c <a class="link">политикой конфиденциальности</a>
            </div>
        </div>
    </div>
</div>