<div class="screen-7 container">
    <div class="screen-head" style="max-width: 100%">Посмотрите интервью с учащимися студентами<br/>в Чехии в данный момент</div>
    <div class="screen-desc">Видео снято на добровольной основе, без принуждения)</div>
    <div>
        <div class="you-tube-container"></div>
        <div class="you-tube-container"></div>
    </div>
</div>


<div class="feedback-container">
    <a name="screen-7"><div class="screen-head" style="max-width: 100%">Почитайте отзывы наших довольных студентов</div></a>
    <div class="screen-desc">А этих принуждали силой... #ноэтонеточно</div>

    <div class="slider container">
        <div class="slider-content">
            <div class="slide">
                <div class="feedback-content">
                    <div class="image">
                        <img src="./images/screen-7/feed-1.png">
                    </div>
                    <div class="text">
                        <div class="head">"Я работаю в Apple!<br/>Все благодаря King Study"</div>
                        <div class="feedback">
                            тут будет очень длинный и осмысленный текст благодарного пользователя,
                            тут будет очень длинный и осмысленный текст благодарного пользователя,
                            тут будет очень длинный и осмысленный текст благодарного пользователя,
                        </div>
                        <div class="name">Максим Меркулов, 24 года, программа "Маристратура+", дата поступления 19.04.2017</div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="slide">2</div>
            <div class="slide">3</div>
            <div class="slide">4</div>
            <div class="slide">5</div>
        </div>
        <button class="prev"></button>
        <button class="next"></button>
    </div>
</div>


