<div class="screen-6 container">
    <div class="text">
        <div class="head">
            Хочешь поступить без потери года?<br/>
            Предлагаем онлайн подготовку в ВУЗы Чехии, мы поможем:
        </div>
        <div class="desc">
            - выбрать специальность и ВУЗ<br/>
            - подготовиться к поступлению<br/>
            - подать заявления<br/>
            - подобрать проживание<br/>
        </div>
    </div>
    <div class="text" style="margin-right: 0">
        <div class="desc" style="font-size: 25px; margin-left: 12px;">
            Посмотрите отзыв об онлайн подготовке
        </div>
        <div class="you-tube-container">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/rvzR2C8QS48" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>