<div class="orange-form-container">
    <div class="orange-form-head">Оставьте заявку прямо сейчас, и узнайте подробнее,<br/>как воплотить мечну в реальность</div>
    <div class="orange-form">
        <input class="input" type="text" placeholder="Введите имя" />
        <input class="input" type="text" placeholder="Введите телефон" />
        <input class="input" type="text" placeholder="Введите e-mail" />
        <button class="btn white">Узнать подробнее</button>
    </div>
    <div class="desc">
        *В течение 15 минут с вами свяжется наш дружелюбный менеджер<br />
        *Заявка вас ни к чему не обязывает - мы просто ответим на ваши вопросы
    </div>
    <div class="accept">
        <input type="checkbox" class="checkbox" checked />
        <div class="accept-desc">
            Я&nbsp;даю&nbsp;согласие&nbsp;на&nbsp;обработку персональных&nbsp;данных
            и&nbsp;соглашаюсь c <a class="link">политикой конфиденциальности</a>
        </div>
    </div>
</div>

<div class="screen-4 container">
    <div class="head">Посмотрите некоторые из ВУЗов, с которыми мы сотрудничаем</div>

    <div class="slider">
        <div class="slider-content">
            <div class="slide">1</div>
            <div class="slide">2</div>
            <div class="slide">3</div>
            <div class="slide">4</div>
            <div class="slide">5</div>
        </div>
        <button class="prev"></button>
        <button class="next"></button>

    </div>

    <div class="slider">
        <div class="slider-content">
            <div class="slide">1</div>
            <div class="slide">2</div>
            <div class="slide">3</div>
        </div>
        <button class="prev"></button>
        <button class="next"></button>
    </div>

</div>