<div class="screen-7 container">
    <div class="screen-head" style="max-width: 100%">Посмотрите интервью с учащимися студентами<br/>в Чехии в данный момент</div>
    <div class="screen-desc">Видео снято на добровольной основе, без принуждения)</div>
    <div>
        <div class="you-tube-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/BdlAvHNxCfE" frameborder="0" allowfullscreen></iframe></div>
        <div class="you-tube-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/-lPu75GeNV8" frameborder="0" allowfullscreen></iframe></div>
        <div class="you-tube-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/9MlyY4UgoaQ" frameborder="0" allowfullscreen></iframe></div>
        <div class="you-tube-container"><iframe width="100%" height="100%" src="https://www.youtube.com/embed/ezpSxr5O7Ak" frameborder="0" allowfullscreen></iframe></div>
    </div>
</div>


<div class="feedback-container">
    <a name="screen-7"><div class="screen-head" style="max-width: 100%">Почитайте отзывы наших довольных студентов</div></a>
    <div class="screen-desc">А этих принуждали силой... #ноэтонеточно</div>

    <div class="slider container">
        <div class="slider-content">
            <div class="slide">
                <div class="feedback-content">
                    <div class="image" style="background: url('./images/screen-7/feed-1.png') no-repeat center; background-size: cover"></div>
                    <div class="text">
                        <div class="head">Я студентка 5-го курса Медицинского факультета Университета имени Масарика.</div>
                        <div class="feedback">
                            В ноябре 2012 года я переехала в чешский город Брно. Начинала я, как и большинство ребят, с курсов чешского языка при ВУТ. В начале пути было конечно же очень сложно, но на втором-третьем месяце каким-то невероятным образом город, люди и атмосфера в целом меня очаровали. Теперь Брно для меня – это мой второй дом. До переезда я закончила 2-ой курс стоматологического факультета в Минске. Поэтому хотелось продолжить медицинское образование, но уже с ориентацией на лечебный факультет при университете им. Масарика. Несмотря на все предостережения, что подготовка требует намного большего располагаемого мною времени, я решила рискнуть. Начиная с января, я взялась за детальную подготовку к вступительным экзаменам. По химии и биологии у меня был репетитор, а физику учила самостоятельно. Нострификация была в марте, а вступительные экзамены — в середине июня.
                            К счастью, все прошло успешно и теперь учусь на 4-ом курсе Všeobecného lékařství — пока на врача общего профиля, а распределение на специализации в Чехии происходит после 6-го курса.
                        </div>
                        <div class="name">Александра Галкина, г. Минск, Дата поступления: сентябрь 2013 года.</div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="feedback-content">
                    <div class="image" style="background: url('./images/screen-7/feed-2.png') no-repeat center top; background-size: cover"></div>
                    <div class="text">
                        <div class="head">Я думаю, что переезд в этот город четыре с половиной лет назад был одним из самых правильных принятых мною решение.</div>
                        <div class="feedback">
                            6 сентября 2014 года приехал я в замечательный город Брно на курсы чешского языка. До Чехии, учился 1 год в КГМУ (Казанский медицинский). Языковые курсы были при университете имени Менделя. В начале, было сложновато понимать все происходящее вокруг, но спустя два месяца, мозг начал различать многие слова и предложения. Отдельное спасибо преподавателям. Нострификация прошла без сложностей (школьная программа). После этого, начал готовиться к поступлению в университет им. Масарика, а именно на медицинский факультет. Изначально хотел поступать на физиотерапевта или диетолога.
                            Примерно в июне были экзамены вступительные и языковые. Языковые сдал на B2, и вступительные прошли успешно. Сейчас учусь на 2ом курсе диетологии.
                            Ни капли не пожалел, что бросил университет дома и приехал сюда. С первого дня же меня поразила атмосфера этого «студенческого» города.
                        </div>
                        <div class="name">Ильдар Гиндулин, г.Уфа, 22 года. Студент 3-го курса Медицинского факультета института имени Масарика, специальность диетолог. Дата поступления: сентябрь 2015 года.</div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="feedback-content">
                    <div class="image" style="background: url('./images/screen-7/feed-3.png') no-repeat center top; background-size: cover"></div>
                    <div class="text">
                        <div class="head">Закончил Карловский университет. Сейчас студент 2-го курса магистроской программы университета имени Масарика, специальность административное управление.</div>
                        <div class="feedback">
                            В 2012 году я приехал на языковые курсы при университете им. Менделя. Нас обучали две чешки, поэтому преподавание велось тоже на чешском, что, по моему мнению, дало большой толчок в изучении языка. Кроме того, большим плюсом было и то, что параллельно мы познавали чешские реалии, культуру и менталитет. Весной я сдал нострификацию, в июне — экзамен по чешскому на уровень В2, а уже в сентябре был зачислен в Карлов университет на гуманитарные науки. После успешного окончания бакалавра я поступил на двудипломную магистерскую программу в университет им. Масарика в Брно и университет Ренн 1 во Франции. Проучившись три года в Праге и учась на данный момент в Брно, я могу с уверенностью сказать, что Брно, возможно, одно из лучших мест для получения высшего образования и, особенно, для прохождения языковых курсов, так как это компактный город с размеренным темпом жизни, но и с большой концентрацией студентов и оттуда выплывающим обилием мероприятий для студентов.
                        </div>
                        <div class="name">Никита Шабалин, г. Тюмень, 23 года. Дата поступления: сентябрь 2013 года.</div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="feedback-content">
                    <div class="image" style="background: url('./images/screen-7/feed-4.png') no-repeat center top; background-size: cover"></div>
                    <div class="text">
                        <div class="head">Спасибо за помощь в выборе ВУЗа и подготовку к вступительным экзаменам.</div>
                        <div class="feedback">
                            В 2014 году я приехала из города Калининграда в Брно с целью поступить в университет им. Масарика на специальность немецкий язык. Первый год своего пребывания в Чехии я посвятила изучению чешского языка – ходила на языковые курсы при VUT, где нас обучали два лектора – русскоговорящий, который объяснял нам грамматику, и непосредственно чех. Дополнительно я готовилась к нострификационным экзаменам, а также к экзамену TSP, который считается обязательным при поступлении, и к профильному экзамену по немецкому языку. Языковые курсы я окончила успешно, сдав экзамен на уровень В2. Университетские экзамены тоже прошли хорошо, и на данный момент я являюсь студенткой 2 курса германистики в университете им. Масарика.
                        </div>
                        <div class="name">Анна Бровкова, г. Калининград, Студентка третьего курса Философского факультета университета имени Масарика. Дата поступления сентябрь 2015 года.</div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="feedback-content">
                    <div class="image" style="background: url('./images/screen-7/feed-5.png') no-repeat center top; background-size: cover"></div>
                    <div class="text">
                        <div class="head">Я студентка 5-го курса Медицинского факультета Университета имени Масарика.</div>
                        <div class="feedback">
                            Студентка второго курса Технического университета в городе Брно.
                            Я благодарна Екатерине из King Study за помощь в поступлении.
                            Приехала в Брно в 2015 году сразу после школы, чтобы получить высшее европейское образование. Сдала нострификацию,экзамен чешского языка и , в конечном итоге, поступила в университет. Была удивлена разнообразием данного места. Город предоставляет возможности для обучения на различных специальностях, занятия спортом,отдыха и посещения исторических мест.
                        </div>
                        <div class="name">Сабина, Ханты-Мансийский автономный округ — Югра. Студентка 2-го курса Факультета электротехники и коммуникационных технологий Технического университета, специальность биомедицинская инженерия и биоинформатика. Дата поступления сентябрь 2016 года.</div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="feedback-content">
                    <div class="image" style="background: url('./images/screen-7/feed-6.png') no-repeat center top; background-size: cover"></div>
                    <div class="text">
                        <div class="head">Я поступил в университет имени Менделя, благодаря King Study!</div>
                        <div class="feedback">
                            Здравствуйте, меня зовут Антон Гончаров. Я закончил среднее образование в Швейцарии и поступил там в Business School Lausanne. После года обучения в этом вузе, моя жизнь сложилась так что мне пришлось найти новый университет в другой стране. Мой выбор остановился на Чехии, а если быть точнее то на город Брно (Второй по величине город Чехии ). Мы с семьей связались с компанией King Study, и мне посоветовали подать документы в Университет имени Менделя в Брно на Экономический Факультет. Команда King Study помогла и объяснила какие документы понадобятся. Далее, я все подал и сдал вступительные тесты в университет. Мне так же помогли подготовиться к ним, нашли учителя и тд. Теперь я студент экономического факультета. Мне очень нравится сам город, люди, питание и конечно сам университет. В итоге я очень доволен своим выбором и благодарю King Study за их услуги!
                        </div>
                        <div class="name">Антон Гончаров, Екатеринбург, 22 года. Программа “Обучение на английском языке” Дата поступления: сентрябрь 2017 года</div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="prev"></button>
        <button class="next"></button>
    </div>
</div>


