<div class="screen-3">
    <div class="head">
        6 фактов, почему стоит получить<br/>образование в Чехии
    </div>
    <div class="fact fact-1">
        <div class="container left">
            <div class="fact-head">Доступность</div>
            <div class="fact-desc">
                На чешском языке образование бесплатное, на английском языке стоимость от 445 евро в семестр.
                Для сравнения в Австрии, Германии и Англии от 1500 евро за семестр.
                Питание и проживание также стоят на порядок дешевле
            </div>
        </div>
    </div>
</div>