<div class="orange-form-container">
    <div class="orange-form-head">Оставьте заявку прямо сейчас, и узнайте подробнее,<br/>как воплотить мечну в реальность</div>
    <div class="orange-form">
        <input class="input" type="text" placeholder="Введите имя" />
        <input class="input" type="text" placeholder="Введите телефон" />
        <input class="input" type="text" placeholder="Введите e-mail" />
        <button class="btn white" onclick="openModalDone()">Узнать подробнее</button>
    </div>
    <div class="desc">
        *В течение 15 минут с вами свяжется наш дружелюбный менеджер<br />
        *Заявка вас ни к чему не обязывает - мы просто ответим на ваши вопросы
    </div>
    <div class="accept">
        <input type="checkbox" class="checkbox" checked />
        <div class="accept-desc">
            Я&nbsp;даю&nbsp;согласие&nbsp;на&nbsp;обработку персональных&nbsp;данных
            и&nbsp;соглашаюсь c <a class="link">политикой конфиденциальности</a>
        </div>
    </div>
</div>

<div class="grey-block"></div>
<div class="screen-4 container">
    <div class="screen-head">Посмотрите некоторые из ВУЗов, с&nbsp;которыми мы сотрудничаем</div>
    <div class="slider">
        <div class="slider-content">
            <div class="slide">
                <div class="image-container" style="background: url('./images/screen-4/slide-1.png') no-repeat center">
                    <div class="image-counter">
                        <div class="count active"></div>
                        <div class="count"></div>
                        <div class="count"></div>
                        <div class="count"></div>
                        <div class="count"></div>
                    </div>
                </div>
                <div class="text-container">
                    <div class="text-head">Венский технический университет</div>
                    <div class="text">
                        Один из крупных университетов в Вене, основанный в 1815 году под названием "Имераторско-королевский политехнический институт"
                    </div>
                    <img class="logo" src="./images/screen-4/logo-1.png" />
                    <button class="btn opacity" onclick="openModalForm()">Узнать подробнее</button>
                </div>
            </div>
            <div class="slide">2</div>
            <div class="slide">3</div>
            <div class="slide">4</div>
            <div class="slide">5</div>
        </div>
        <button class="prev"></button>
        <button class="next"></button>
    </div>

    <div class="screen-head">Информация для родителей</div>
    <div class="info-block-container">
        <div class="block">
            <div class="icon icon-1"></div>
            <div class="info-head">Чехия входит в ТОП-6 безопасных стран мира</div>
            <div class="info-text">В мировых рейтингах Чешская  республика одна из лучших стран для проживания.</div>
        </div>
        <div class="block">
            <div class="icon icon-2"></div>
            <div class="info-head">Ваш ребенок сможет стать "Человеком мира"</div>
            <div class="info-text">
                В Чехии учатся студенты со всех уголков планеты и создают огромное интернациональное сообщество.
                У вашего ребенка появятся друзья из разных стран.
            </div>
        </div>
        <div class="block">
            <div class="icon icon-3"></div>
            <div class="info-head">Чехия ближе, чем США, или Австралия</div>
            <div class="info-text">
                Самолет из Москвы долетает до Праги за 2,5 часа. А получить Шенгенскую визу очень просто.
            </div>
        </div>
    </div>
</div>