<div class="screen-3">
    <div class="head">
        6 фактов, почему стоит получить<br/>образование в Чехии
    </div>
    <div class="fact fact-1">
        <div class="container left">
            <div class="fact-head">Доступность</div>
            <div class="fact-desc">
                На чешском языке образование бесплатное, на английском языке стоимость от 445 евро в семестр.
                Для сравнения в Австрии, Германии и Англии от 1500 евро за семестр.
                Питание и проживание также стоят на порядок дешевле
            </div>
        </div>
    </div>
    <div class="fact fact-2">
        <div class="right">
            <div class="fact-head">Высокое качество<br/>образования</div>
            <div class="fact-desc">
                Традиции обучения в Чехии насчитывают более шести сотен лет.
                Все уровни образования полностью соответствуют международным нормам и стандартам, установленным Евросоюзом.
                Предметы преподаются на чешском, английском и немецком языках.
                <div class="sub-text">
                    *Согласно индексу уровня образования в странах мира Программы
                    развития Организации Объединенных Наций (ПРООН) за 2016 г.
                </div>
            </div>
        </div>
    </div>
    <div class="fact fact-3">
        <div class="container left">
            <div class="fact-head">Престижные ВУЗы</div>
            <div class="fact-desc">
                Чешcкий Технический Университет и Карлов университет в Праге - старейшие учебные заведения
                Центральной и Восточной Европы, стоят в одном ряду с Оксфордом, Сорбонной и Женевским университетом.
                Здесь преподаватели из ведущих вузов мира читают лекции на чешском и английском языках.
            </div>
        </div>
    </div>
    <div class="fact fact-4">
        <div class="right">
            <div class="fact-head">Жизнь и работа в Европе</div>
            <div class="fact-desc">
                Дипломы вузов Чехии признаются во всем мире.
                Вы сможете продолжить образование и работать в любой другой стране.
                <br/><br/>
                В Чехии признаются школьные аттестаты и нет необходимости сдавать ЕГЭ.
            </div>
        </div>
    </div>
    <div class="fact fact-5">
        <div class="container left">
            <div class="fact-head">Легкое поступление</div>
            <div class="fact-desc">
                В Чехии есть возможность поступления без экзаменов, что упрощае многие задачи.
                Учеба позволит быстро адаптироваться в стране, а через 5 лет проживания вы можете получить ПМЖ.
            </div>
        </div>
    </div>
    <div class="fact fact-6">
        <div class="right">
            <div class="fact-head">Путешествие по всей<br/>Европе без визы</div>
            <div class="fact-desc">
                Чехия находится в самом центре Европы, из Праги и Брно за 2-3 часа можно доехать
                до Германии, Австрии, Италии и других стран.
                Студенты получают биометрическую карту, что позволяет путешествовать без визы. Удобно, не правда ли?
            </div>
        </div>
    </div>
</div>