<div class="screen-2 container">
    <div class="head">Результаты за&nbsp;2017&nbsp;год</div>
    <div class="scroll-container full">
        <div class="blocks-container">
            <div class="block-position">
                <div class="block block-1">
                    <div class="color-id orange"></div>
                    <div class="block-head">Более 1500<br/>студентов</div>
                </div>
                <div class="block-desc">поступили в вузы Чехии,<br/>благодаря нам</div>
            </div>
            <div class="block-position">
                <div class="block block-2">
                    <div class="color-id red"></div>
                    <div class="block-head">70%<br/>студентов</div>
                </div>
                <div class="block-desc">King Study поступают<br/>на бюджетные факультеты</div>
            </div>
            <div class="block-position">
                <div class="block block-3">
                    <div class="color-id blue"></div>
                    <div class="block-head">8 из 10<br/>выпускников</div>
                </div>
                <div class="block-desc">остаются жить и работать<br/>в странах Евросоюза</div>
            </div>
            <div class="block-position">
                <div class="block block-4">
                    <div class="color-id blue"></div>
                    <div class="block-head">Вы можете<br/>выбрать</div>
                </div>
                <div class="block-desc">из 106 вузов, с которыми<br/>мы сотрудничаем</div>
            </div>
        </div>
    </div>

    <!--slider ---------------------------------------------------------------------------------------->

    <div class="scroll-container slider">
        <div class="prev"></div>
        <div class="next"></div>

        <div class="blocks-container">
            <div class="block-position slide">
                <div class="block block-1">
                    <div class="color-id orange"></div>
                    <div class="block-head">Более 1500<br/>студентов</div>
                </div>
                <div class="block-desc">поступили в вузы Чехии,<br/>благодаря нам</div>
            </div>
            <div class="block-position slide">
                <div class="block block-2">
                    <div class="color-id red"></div>
                    <div class="block-head">70%<br/>студентов</div>
                </div>
                <div class="block-desc">King Study поступают<br/>на бюджетные факультеты</div>
            </div>
            <div class="block-position slide">
                <div class="block block-3">
                    <div class="color-id blue"></div>
                    <div class="block-head">8 из 10<br/>выпускников</div>
                </div>
                <div class="block-desc">остаются жить и работать<br/>в странах Евросоюза</div>
            </div>
            <div class="block-position slide">
                <div class="block block-4">
                    <div class="color-id blue"></div>
                    <div class="block-head">Вы можете<br/>выбрать</div>
                </div>
                <div class="block-desc">из 106 вузов, с которыми<br/>мы сотрудничаем</div>
            </div>
        </div>
    </div>
</div>

